
#slider label {
  position: absolute;
  width: 0px;
  margin-top: 20px;
  margin-left: 0px;
  text-align: center;
}

#slide{
	z-index: 1000;
}

.slider{
	position: absolute;
	left: 120px;
	bottom: 20px;
	width: 700px;
	height: 120px;
	background-color: #ffffff59;
	border: 1px solid #000000;
  border-radius: 25px;
  padding: 20px;
}
